# Langsmith
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=key
LANGSMITH_PROJECT=""

# OpenAi
OPENAI_API_KEY=""

# COhere
COHERE_API_KEY=""

# DB Credentials
PG_CONNECTION_STRING=postgresql://postgres:Pass%40123@localhost:5433/creditcard_db
CC_DB_CONNECTION_STRING=postgresql+psycopg://cc_readonly:cc_readonly_pass@localhost:5433/agentic_credit_rag
